
//@media (max-height:662px ) {
//  .head {
//    margin: 1rem 0 0 0 ;
//  }
//  .footer {
//    margin: 1.5rem 0 !important;
//    .content {
//      height: 62vh;
//      .card .poster {
//        width: 15rem;
//      }}}}


@media(max-width:1200px){
  .head {
    margin: 6rem 0 0 0;
    input {
      width: 20em;
    }}
  .footer {
    margin: 3rem 0;
    .content {
      height: 49vh;
      .card .poster {
        width: 19rem;
      }}}}

@media(max-width:992px){
  .footer {
    .content {
      height: 42vh;
      }}}

@media(max-width: 834px){
  .head{margin: 10rem 0 0 0;}
  .footer {
    .content {
      height: 42vh;
    }}}




//@media (max-width: 834px) {
//  .head { margin: 10rem 0 0 0;}
//  .footer {
//    margin: 3rem 0;
//  .content {
//    width: 83vw;
//    height: 42vh;
//  .card .poster {
//    width: 16rem;
//  }}}}

//
//@media (max-width: 658px) {
//  .head {margin: 18rem 0 0 0;}
//  .footer {
//    margin: 3rem 0;
//    .content {
//      width: 83vw;
//      height: 35vh;
//      .card .poster {
//        width: 16rem;
//      }}}}