@use "./variables" as *;


body{
  @include size(100vh,100%);
  background: rgb(0,0,0);
  background: linear-gradient(0deg, #08081b 1%, #436995 44%, #1d2955 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  backdrop-filter: brightness(30%);
  padding: 1rem 1rem;
  transition: background .3s ease-in-out;
  font-family: "Poppins ExtraBold",sans-serif;
}
.head{
  @include d-center;
  padding: 1rem;
  input{
    @include size(1.8em,10em);
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent ;
    color: #f1f1f1;
    font:400 16px "Poppins",sans-serif;
    transition: width .3s ease-in-out;
    &:focus{
      @include size(1.8rem,20rem);
      outline: none;
      border-color: #650101;
      border-radius: 10px;
      transition: width .3s ease-in-out,border .3s ease-in-out;
    }
  }
  input[type='search'i]{
    appearance: none;
    padding: 0 1rem;
  }
  button{
    height: 1.8rem;
    background-color: transparent;
    cursor: pointer;
    align-items: flex-end;
    &:active .bx-search{
      color: #fcfcfc ;
      transition:color .3s ease-in-out;
    }
    &:focus{
      outline: none;
    }
    border: none;
.bx-search{
  transition:color .3s ease-in-out;
  font-size: 20px;
  color: #aaa0a0;
}}}

.main {
  @include size(58vh,100%);
  @include d-center;
  display: none;
  .main-content {
    display: none;
    @include size(100%,80vw);
    font-family: "Poppins", sans-serif;
    color: #f1f1f1;
    h2 {
      text-align: center;
      max-font-size: 48px;
      min-font-size: 32px;
    }
    .imgVideo{
      @include size(50vh,80vw);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
    .singlePoster {
      @include size(100%, 30%);
    }
      video {
        object-fit: fill;
        background-color: black;
        @include size(100%, 100%);
      }}
    .text {
      font-weight: 600;
      letter-spacing: .05em;
      padding: .5em 0 1em 0;
      text-align: center;
 }}}

.footer{
  @include d-center;
  margin: 1rem 0 ;
.content{
  gap: 1rem;
  box-shadow: 20px 20px 58px #000000, 1px 11px 12px 1px #000000;
  @include size(70vh,80vw);
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  &::-webkit-scrollbar{
    height: 5px;
    background: linear-gradient(0deg, #08081b 1%, #070918 44%, #030510 100%);
  }
  &::-webkit-scrollbar-thumb{
    background: #275269;
  }
  .card{
    box-shadow:  29px 29px 58px #000000,
                -29px -29px 58px #000000;
  .poster{
    cursor: pointer;
    @include size(100%,28rem);
  }
  .collapse{
    display: none;
  }
}}}

.control{
  gap: 2rem;
   @include d-center;

  .btn-right,.btn-left{
    @include d-center;
    @include size(50px,50px);
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    cursor: pointer;
    transition: border .3s ease-in-out;
    box-shadow:  29px 29px 58px #000000,
                -29px -29px 58px #000000;
  }
  .btn-right::after,.btn-left::after{
    content: '';
    @include size(0,0);
    border-style: solid;
    transition: border .3s ease-in-out;
  }
  .btn-left::after{
    transform: translate(-23%, 0%);
    border-width: 10px 15px 10px 0;
    border-color: transparent #aaa0a0 transparent transparent;

  }
  .btn-right::after{
    transform: translate(11%, 0%);
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #aaa0a0;
  }
}
.btn-right:hover,.btn-left:hover{
  transition: border .3s ease-in-out;
  border: 1px solid #650101;
}
.btn-right:active::after{
  border-color: transparent transparent transparent #fcfcfc ;
  transition: border .1s ease-in-out;
}
.btn-left:active::after{
  border-color: transparent #fcfcfc  transparent transparent ;
  transition: border .1s ease-in-out;
}

