@use "./variables" as *;


body{
  @include size(100vh,100%);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(30%);
  padding: 1rem 1rem;
  transition: background .3s ease-in-out;
  font-family: "Poppins ExtraBold",sans-serif;

}
.head{
  @include d-center;
  padding: 1rem;
  .nav{
    display: flex;
    gap: 2rem;

    .sourceBtn{
      font-size: 1.5em;
      text-decoration: none;
      color: #f1f1f1;
      -webkit-text-stroke: 1px #191616;
    }
  }
}

.main{
  margin: 1rem 0;
  display: flex;
  .poster{
    @include size(40rem,30rem);
  }
  .text{
    font-family: "Poppins ExtraBold",sans-serif;
    color: #f1f1f1;
    margin: 0 1rem;
    h2{
     max-font-size: 48px;
      min-font-size: 32px;
    } }
  video{
    @include size(25rem,44rem)
  }
}

.footer{
  @include d-center;
  margin: 1rem 0;
.content{
  @include size(70vh,80vw);
  overflow: scroll;
  overflow-y: hidden;
  &::-webkit-scrollbar{
    height: 5px;
   background: linear-gradient(to right,#008aff,#00ffe7);
  }
  &::-webkit-scrollbar-thumb{
    background: black;
  }
  display: flex;
  img{
    margin:0 .5rem;
    cursor: pointer;

      @include size(100%,30rem);

  }}}
