@use "./variables" as *;


body{
  @include size(100vh,100%);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(30%);
  padding: 1rem 1rem;
  transition: background .3s ease-in-out;

}
.head{
  @include d-center;
  padding: 1rem;
}
.main{
  margin: 1rem 0;
  display: flex;
  .poster{
    @include size(40rem,30rem);
  }
  .text{
    font-family: "Poppins ExtraBold",sans-serif;
    color: #f1f1f1;
    margin: 0 1rem;
    h2{
     max-font-size: 48px;
      min-font-size: 32px;
    } }
  video{
    @include size(25rem,44rem)
  }
}

.footer{
  @include d-center;
  margin: 1rem 0;
.content{
  @include size(70vh,80vw);
  overflow: scroll;
  overflow-y: hidden;
  &::-webkit-scrollbar{
    height: 5px;
   background: linear-gradient(to right,#008aff,#00ffe7);
  }
  &::-webkit-scrollbar-thumb{
    background: black;
  }
  display: flex;
  .card {
    margin:0 .5rem;
    cursor: pointer;
    .moviesImg{
      @include size(100%,30rem);
    }
    .postrerImage, h2,p{
      display: none;
    }
  }}}
//.content::-webkit-scrollbar-track{
//  background: red;
//}