@mixin d-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin d-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin size($height,$width) {
  height: $height;
  width: $width;
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
@keyframes anime {
0%,100%{
  filter: hue-rotate(0deg);
}
  50%{
    filter: hue-rotate(360deg);
  }
}