* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes anime {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
body {
  height: 100vh;
  width: 100%;
  background: black;
  background: linear-gradient(0deg, #08081b 1%, #436995 44%, #1d2955 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  backdrop-filter: brightness(30%);
  padding: 1rem 1rem;
  transition: background 0.3s ease-in-out;
  font-family: "Poppins ExtraBold", sans-serif;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.head input {
  height: 1.8em;
  width: 10em;
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
  color: #f1f1f1;
  font: 400 16px "Poppins", sans-serif;
  transition: width 0.3s ease-in-out;
}
.head input:focus {
  height: 1.8rem;
  width: 20rem;
  outline: none;
  border-color: #650101;
  border-radius: 10px;
  transition: width 0.3s ease-in-out, border 0.3s ease-in-out;
}
.head input[type=search i] {
  appearance: none;
  padding: 0 1rem;
}
.head button {
  height: 1.8rem;
  background-color: transparent;
  cursor: pointer;
  align-items: flex-end;
  border: none;
}
.head button:active .bx-search {
  color: #fcfcfc;
  transition: color 0.3s ease-in-out;
}
.head button:focus {
  outline: none;
}
.head button .bx-search {
  transition: color 0.3s ease-in-out;
  font-size: 20px;
  color: #aaa0a0;
}

.main {
  height: 58vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.main .main-content {
  display: none;
  height: 100%;
  width: 80vw;
  font-family: "Poppins", sans-serif;
  color: #f1f1f1;
}
.main .main-content h2 {
  text-align: center;
  max-font-size: 48px;
  min-font-size: 32px;
}
.main .main-content .imgVideo {
  height: 50vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.main .main-content .imgVideo .singlePoster {
  height: 100%;
  width: 30%;
}
.main .main-content .imgVideo video {
  object-fit: fill;
  background-color: black;
  height: 100%;
  width: 100%;
}
.main .main-content .text {
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 0.5em 0 1em 0;
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.footer .content {
  gap: 1rem;
  box-shadow: 20px 20px 58px #000000, 1px 11px 12px 1px #000000;
  height: 70vh;
  width: 80vw;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
.footer .content::-webkit-scrollbar {
  height: 5px;
  background: linear-gradient(0deg, #08081b 1%, #070918 44%, #030510 100%);
}
.footer .content::-webkit-scrollbar-thumb {
  background: #275269;
}
.footer .content .card {
  box-shadow: 29px 29px 58px #000000, -29px -29px 58px #000000;
}
.footer .content .card .poster {
  cursor: pointer;
  height: 100%;
  width: 28rem;
}
.footer .content .card .collapse {
  display: none;
}

.control {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control .btn-right, .control .btn-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: 1px solid #f1f1f1;
  border-radius: 50%;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
  box-shadow: 29px 29px 58px #000000, -29px -29px 58px #000000;
}
.control .btn-right::after, .control .btn-left::after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  transition: border 0.3s ease-in-out;
}
.control .btn-left::after {
  transform: translate(-23%, 0%);
  border-width: 10px 15px 10px 0;
  border-color: transparent #aaa0a0 transparent transparent;
}
.control .btn-right::after {
  transform: translate(11%, 0%);
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #aaa0a0;
}

.btn-right:hover, .btn-left:hover {
  transition: border 0.3s ease-in-out;
  border: 1px solid #650101;
}

.btn-right:active::after {
  border-color: transparent transparent transparent #fcfcfc;
  transition: border 0.1s ease-in-out;
}

.btn-left:active::after {
  border-color: transparent #fcfcfc transparent transparent;
  transition: border 0.1s ease-in-out;
}

@media (max-width: 1200px) {
  .head {
    margin: 6rem 0 0 0;
  }
  .head input {
    width: 20em;
  }

  .footer {
    margin: 3rem 0;
  }
  .footer .content {
    height: 49vh;
  }
  .footer .content .card .poster {
    width: 19rem;
  }
}
@media (max-width: 992px) {
  .footer .content {
    height: 42vh;
  }
}
@media (max-width: 834px) {
  .head {
    margin: 10rem 0 0 0;
  }

  .footer .content {
    height: 42vh;
  }
}

/*# sourceMappingURL=main.css.map */
